* {
  margin: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
 
}



/* https://kalk.top/conver/px-rem?b=20&v=20&i=0 */ 
:root {
--blue:#00A4E5;
--black:#171819;
--gray: #48555B;
--white: #FFFFFF;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  margin:0;
}

main{
  color:#48555B;
}

.container {
  width: 66%;
  max-width: 940px;
  margin: 0 auto;
}

.text-transform_uppercase{
  text-transform: uppercase;
}

.color_blue{
  color:var(--blue);
}

/*header*/
.header{
  color: var(--white);
  background-image: url(../img/header__background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  max-height: 769px;
}

.header__container{
  text-align: center;
  padding: 2rem 0 3.5rem;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  
}

.header__container_up{
margin-bottom: 1rem;
  min-height: 20rem;
}

.header__container_down{
  min-height:13rem;
}

.header__container_up,
.header__container_down{
  display: flex;
flex-direction:column;
justify-content: space-between;
}

.logo{
  letter-spacing: -2px;
  font-weight: bold;
}



.header__title{
  letter-spacing: 0.285rem;
  font-weight: 300;
}

.container-down__subtitle-1{
  
font-size: 0.8rem;
}

.container-down__subtitle-2{
font-size: 0.55rem;
letter-spacing: 0.185rem;
}

/*navbar*/

.navbar{
  border-top:1px solid #E6E6E6 ;
  border-bottom:1px solid #E6E6E6;
  margin-bottom: 3rem;
}

.navbar__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
align-items: center;

}

.navigation{
 width:44%;
}


.navbar__logo{
color:var(--black);
font-size: 0.9rem;
}

.navigation__list{
  padding:0;
 
  list-style-type: none;
  color:var(--gray);
 
  
  display:flex;
flex-wrap: wrap;
justify-content: space-between;

margin:1.25rem 0 1.2rem;


}

.navigation__item{
  font-size: 0.6rem;
}

.navigation__item:not(:last-child){
  margin-right: 2rem;

}

.navigation__item:hover{
color:var(--blue);
cursor: pointer;
transition: all 0.4s ease-in;
}



/*about*/
.about__container{
display:flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
margin-bottom: 6rem;
}

.title{
  letter-spacing: 0.12rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.line-border {
  border: 0.05rem solid var(--blue);
  width: 2.5rem;
  
}

.line-border_center{
  margin-left: auto;
    margin-right: auto;
}

.about__container_description{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.title__block{
  margin-bottom: 2.1rem;
}

.description{
  letter-spacing: 0.01rem;
  text-align: left;
}

.description__title{
  font-weight: bold;
  line-height: 1.35rem;
  
}

.description__title-header_size{
  max-width: 19.7rem;
  margin-bottom: 1.5rem;
}

.description__title >span{
  font-weight: bold;
}


.description__subtitle{
  font-size: 0.65rem;
  line-height: 1.15rem;
  max-width: 20rem;
}

.description__images{
  display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 width:50%;
}

.image__block{
  position: relative;
  text-align: center;
  color: var(--white);
}


.image__block_text{
  
    position: absolute;
    top: 0.75rem;
    left: 0.7rem;
    font-weight: 800;
    font-size: 1.2rem;
    text-align: left;
    max-width: 5.5rem;

}


/*services*/
.title__container{
display: flex;
flex-wrap: wrap;
margin-bottom: 3.8rem;
}

.title__block-left{
  text-align: left;
  
}

.description__subtitle_small{
  font-size: 0.55rem;
  max-width: 19.5rem;
}

.button{
  background: var(--blue);
  padding: 11px 0 11px;
  width: 150px;
  font-size: 13px;
  overflow: hidden;
  color:var(--white);
  font-weight: 700;
  border:none;
  height: 40px;
}

.button:hover{
  transition: all 0.3s ease-in	;
  cursor: pointer;
  background:var(--gray);
}

.title__container{
  display: flex;
  justify-content: space-between;
width: 100%;

}

.title__block-right{
  display: flex;
  justify-content: space-between;
  width: 65%;
  max-width: 590px;
  flex-wrap: wrap;
}

.service__container{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-bottom: 5.75rem;
}

.service__item{
  
  border: 1px solid #E6E6E6;
  width: 26%;
 max-width:295px;
 padding: 38px 23px;
  
}
.service__item_img{
  width: fit-content;
  margin-bottom: 1.23rem;
  max-height: 75px;
}




.description__title_small{
  letter-spacing: 0.025rem;
  font-size: 0.8rem;
  margin-bottom: 0.65rem;
}

.description__subtitle_size{
  max-width: 250px;
 

}

/*get-in-touch*/

.get-in-touch{
  background-image:url(../img/get-in-touch__background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}


.get-in-touch__container{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 0 auto;
  padding: 6rem 0 12rem;
}

.get-in-touch__text{
  font-size: 1.5rem;
  font-weight: bold;
letter-spacing: 0.0075rem;
max-width: 17.5rem;
text-align: center;
margin-bottom: 1.75rem;
}

/*sign-up*/
.sign-up{
  background: #171819;
  margin:0 auto;
}
.sign-up__container{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  align-items: center;
width:73%;
max-width: 685px;
padding: 30px 0;
}

.sign-up__text{
  font-weight: bold;
  font-size:1.1rem;
  color: var(--white);
  letter-spacing: 0.0423rem;
}

.sign-up__form{
 display: flex;
 justify-content: start;
 flex-wrap: wrap;
max-height:80px ;
}

.form__input{
border: none;
height: 38px;
padding-left: 0.8rem ;
padding-right: 0.8rem ;
font-size: 0.7rem;

  color:var(--blue);
}

.form__input:focus{
  outline: none;
 
  transition: 0.5s;
}

.form__input::placeholder{
  
  font-size: 0.7rem;
  color:var(--gray);
 
  
}

/*footer*/
.footer{
  background: #141A20;
 
}

.copyright{
  background-color: var(--black);
  margin: 0 auto;
}

.copyright__text{
  color:var(--white);
  font-size: 0.55rem;
  letter-spacing: 0.0425rem;
text-align: center;
line-height: 0.75rem;
padding: 22px 0;
}